.bank-form {
	width: 400px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bank-form__row {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.bank-form__final-row {
	display: flex;
	justify-content: flex-start;
}

.bank-form__exp-date {
	width: 60px;
	margin: 0;
}

.bank-form__cvc {
	width: 150px;
}
